<h2>Edit Profile</h2>
<form>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="userData.username" name="username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="userData.email" type="email" name="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Birthday</mat-label>
    <input matInput [(ngModel)]="userData.birthday" name="birthday" type="date" />
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  </div>
</form>