mat-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
}

mat-card-actions {
  button {
    font-family: Oswald, sans-serif;
    font-weight: 400;
  }
}

form {
  input {
    font-family: Oswald, sans-serif;
    font-weight: 300;
  }

  mat-label {
    font-family: Oswald, sans-serif;
    font-weight: 300;
  }
}