.card-container {
  font-family: Oswald, sans-serif;
  padding: 20px;
}

span h1 {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  color: #01579B;
  font-size: larger;
  padding-left: 10px;
}

mat-card {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  mat-card-header {
    padding-left: 10px;

    h2 {
      margin: 0;
    }
  }

  mat-card-content {
    padding: 10px;

    .movie-image {
      width: 100%;
      height: auto; // Maintain the aspect ratio of the image
      display: block; // Removes extra space under the image
      margin: 0 auto;
    }
  }
}

button {
  font-family: Oswald, sans-serif;
  
}

.spacer {
  flex: 1 1 auto; // Adds space between the title and the button
}