<button mat-raised-button color="primary" (click)="seeProfile()">Profile</button>

<mat-card *ngFor="let movie of movies; let i=index;">
  <mat-dialog-content>
    <mat-card-title>
      {{movie.title}}
    </mat-card-title>
    <mat-card-subtitle>
      <img class="movie-image" src={{movie.imagePath}} />
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button (click)="showMovieDetails(movie)" color="primary">See details</button>
    </mat-card-actions>
  </mat-dialog-content>
</mat-card>