@use '@angular/material' as mat;
@include mat.core();

$myFlix-Angular-client-primary: mat.define-palette(mat.$light-blue-palette, 900);
$myFlix-Angular-client-accent: mat.define-palette(mat.$purple-palette, 100);
$myFlix-Angular-client-warn: mat.define-palette(mat.$orange-palette, 100);

$custom-typography: mat.define-typography-config($font-family: 'Cambria, serif',
    $headline-1: mat.define-typography-level(102px, 102px, 300),
    $headline-2: mat.define-typography-level(64px, 64px, 300),
    $headline-3: mat.define-typography-level(51px, 51px, 400),
    $headline-4: mat.define-typography-level(36px, 44px, 400),
    $body-1: mat.define-typography-level(17px, 24px, 400),
    $body-2: mat.define-typography-level(15px, 20px, 400),
    $button: mat.define-typography-level(14px, 16px, 500),
    $caption: mat.define-typography-level(13px, 18px, 400),
    $overline: mat.define-typography-level(11px, 16px, 400));

$myFlix-Angular-client-theme: mat.define-light-theme((color: (primary: $myFlix-Angular-client-primary,
        accent: $myFlix-Angular-client-accent,
        warn: $myFlix-Angular-client-warn,
      ),
      typography: $custom-typography,
    ));

@include mat.all-component-themes($myFlix-Angular-client-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  background-color: #ceafce; //#15496A; //#F0CBF0;
}

body {
  margin: 0;
  font-family: Oswald, sans-serif;
  color: #01579B;
}

button {
  font-family: Oswald, sans-serif;
}

.dialog-container {
  font-family: Oswald, sans-serif;
}