<h1>Your Profile</h1>

<div class="user-info">
  <h2>Username: {{ user.username }}</h2>
  <h3>Email: {{ user.email }}</h3>
  <h3>Birthday: {{ user.birthday | date }}</h3>
  <h3>Favorite Movies:</h3>
  <ul>
    <li *ngFor="let movie of user.favorites">{{ movie.title }}</li>
  </ul>
</div>

<div class="button-group">
  <button mat-raised-button color="primary" (click)="openEditProfileDialog()">Edit Profile</button>
  <button mat-raised-button color="warn" (click)="deleteProfile()">Delete Profile</button>
</div>

<div>
  <button mat-raised-button color="primary" (click)="goBack()">Back</button>
</div>