<mat-toolbar color="accent">
  <span (click)="goBack()">
    <h1>MyFlix</h1>
  </span>
  <span class="spacer"></span>
  <button mat-icon-button color="primary" (click)="goBack()"><mat-icon>home</mat-icon></button>
  <button mat-icon-button color="primary" (click)="Logout()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

<div class="container">
  <h2>Your Profile</h2>

  <div class="user-info">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Birthday:</strong> {{ user.birthday | date }}</p>
    <p><strong>Favorite Movies:</strong></p>
    <ul>
      <li *ngFor="let movie of favoriteMovies">
        <p>{{ movie.title }}</p>
      </li>
    </ul>
  </div>

  <div class="button-group">
    <button mat-raised-button color="primary" (click)="openEditProfileDialog()">Edit Profile</button>
    <br>
    <br>
    <button mat-raised-button color="warn" (click)="deleteProfile()">Delete Profile</button>
  </div>

</div>