.container {
  padding: 20px;
}

span h1 {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  color: #01579B;
  font-size: larger;
  padding-left: 10px;
}


.spacer {
  flex: 1 1 auto; // Adds space between the title and the button
}

button {
  margin-top: 0;
  font-family: Oswald, sans-serif;
  font-weight: 400;
}